<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <title>Angular Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Open+Sans|Poiret+One|Roboto" rel="stylesheet">

  </head>

  <body ng-app="myModule" ng-controller="GroceryCtrl as main">

    <div id="header">

      <h1 class="centered">Angular Shopping Cart</h1>

      <div class="centered">
        <h3 class="total">{{total|currency}}</h3>
      </div>

    </div>

    <div id="add-item centered">

      <!--inputs for item-->
      <input class="field centered" type="text" ng-model="name" placeholder="Item Name">
      <input class="field centered" type="number" ng-model="price" placeholder="Price">
      <i class="material-icons field centered add-icons" ng-click="addItemToList()">add_shopping_cart</i>

    </div>

    <ul>
      <li ng-repeat="item in items track by $index">

          <p>{{item.name}}</p>
          <div class="float-right">
            <p>{{item.price | currency}}</p>
            <i class="material-icons delete-icons" ng-click="removeItem(items, $index)">remove_shopping_cart</i>
          </div>

      </li>
    </ul>

    <!--JS Includes for Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="app.js"></script>

  </body>
</html>
