<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <title>Angular Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body ng-app="myModule" ng-controller="GroceryCtrl as main">

    <h1>Angular Shopping Cart</h1>

    <h3 class="total">Total Price:</h3>
    <p class="total">{{total|currency}}</p>

    <div>

      <!--inputs for item-->
      <input type="text" ng-model="name" placeholder="Item Name">
      <input type="number" ng-model="price" placeholder="Price">
      <button ng-click="addItemToList()">Add Item To Grocery List</button>

      <div ng-repeat="item in items track by $index">

        <div class="item-row">

          <li>{{item.name}} - {{item.price}}</li>

          <!--<button ng-click="removeAll(items, $index)">Remove Item</button>-->
          <i class="material-icons" ng-click="removeItem(items, $index">delete</i>

        </div> <!--of item-row-->
      </div>

    </div>

    <!--JS Includes for Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="app.js"></script>

  </body>
</html>
