<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Angular Shopping Cart</title>
  </head>
  <body ng-app="myModule" ng-controller="GroceryCtrl as main">

    <h1>Angular Shopping Cart</h1>

    <!--inputs for item-->
    <input type="text" ng-model="name">
    <input type="number" ng-model="price">

    <button ng-click="addItemToList()">Add Item To Grocery List</button>

    <div ng-repeat="item in items">

      <h2>{{item.name}}, {{item.price}}</h2>

      <h3>{{total|currency}}</h3>

    </div>

    <!--JS Includes for Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="app.js"></script>

  </body>
</html>
